@model Sequencing.WeatherApp.Models.CheckAppData

@{
    ViewBag.Title = "Please wait... this app is now being personalized to you based upon your genes.";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    <script>
        var delay = 0;
        function checkApp() {

            $.ajax({
                url: '@Html.Raw(Url.Action("CheckAppCompletion", "Default", new { jobId = Model.JobId, jobId2=Model.JobId2 }))',
                contentType: 'application/json',
                method: "GET",
                success: function (data) {
                    if (data == "True")
                        window.location.replace('@Html.Raw(Url.Action("ResultsOriginal", new { jobId = Model.JobId, jobId2 = Model.JobId2 }))');
                }
            });
            if (delay < 30000)
                delay += 5000;
            setTimeout(checkApp, delay);
        
        };

        $(function () {
            checkApp();
        });
    </script>
    <div id="preloader">
        <b>Please wait... <br/>This app is now being personalized to you based upon your genes.</b><br/>
    </div>
        <img id="spinner" src="/assets/img/Awesome-cub-pre-loader-Sequencing-com-128px.gif" />

</div>
