@model Sequencing.WeatherApp.Models.CommonData

@{
    ViewBag.Title = "Select location";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<script src="/Scripts/jquery.simpleWeather.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/assets/js/vidRandom.js"></script>

<div id="titleText">
    <h3 id="titleOne">
        Weather My Way +RTP
    </h3>
    <h4 id="subTitle">Location</h4>
</div>
@using (Html.BeginForm("SaveLocation", "Default", new {r = Request.QueryString["r"]},
    FormMethod.Post, new {@class = "form-horizontal", @role = "form"}))
{
    <div id="locInstruction">
        <p>
            Enter your location below<br />
            -OR-<br />
            Click the Auto-detect Button
        </p>
    </div>
    <div id="location">               
        <div id="locIn">         
            <input type="text" list="cities" id="city" name="city" style= "width:75%" placeholder = "Enter your location"/>
            <div id="locButton"><input id="contButton" type="submit" value="Continue" /></div>
            <datalist id="cities">
            </datalist>
            <script>
                $('#city').on('input', function () {
                    var data= {
                        city: $('#city').val(),
                    };
                    $.ajax({
                        url: "/Default/VerifyLocation",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(data),
                        success: function (data) {
                            var mydata = JSON.parse(data).RESULTS;
                            $('#cities').empty();
                            for (i in mydata) {
                                $('#cities').append("<option value='" + mydata[i]['name'] + "'>");
                            }
                        }
                    });
                    return false;
                });
            </script>
            
           <div class="city-error"></div>
        </div>
        <div id="discoverButton"><img id="locIcon" src="/assets/img/location-crosshairs-icon-Sequencing-com-32px.png" /><a id="discButton">Auto-detect <br/> location</a></div>
    </div>
    
}
<div class="col-sm-offset-2 col-sm-10">


</div>

<style type="text/css">
    .city-error .error {
        color: red;
    }
</style>

<script>
    $(document).ready(function() {
        $("#btnDiscover").click(function(parameters) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                codeLatLng(lat, lng);
            }, function(code) {
                $("#city").val("error evaluating location");
            });

        });
    });

    function codeLatLng(lat, lng) {
        var geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(lat, lng);
        geocoder.geocode({ 'latLng': latlng }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var city = null;
                var country = null;
                var state = null;
                if (results[1]) {
                    //formatted address
                    //find country name
                    for (var i = 0; i < results[0].address_components.length; i++) {
                        for (var b = 0; b < results[0].address_components[i].types.length; b++) {
                            //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                            if (results[0].address_components[i].types[b] == "locality") {
                                if (!city)
                                    city = results[0].address_components[i];
                            }
                            if (results[0].address_components[i].types[b] == "country") {
                                if (!country)
                                    country = results[0].address_components[i];
                            }
                            if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                                if (!state)
                                    state = results[0].address_components[i];
                            }
                        }
                    }
                    if (city) {
                        var fin = city.short_name;
                        if (country.short_name == "US")
                            fin += ", " + state.short_name;
                        else
                            fin += ", " + country.short_name;
                        $("#city").val(fin);
                        return;
                    }
                }
            }
            $("#city").val("undetermined");
        });
    }
</script>