<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sequencing.weather"
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <uses-permission android:name="in.wptrafficanalyzer.locationingooglemapv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:name=".activity.RTPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sequencing_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.PreStartedActivity_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StartActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".activity.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activity.AboutActivity_"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LocationMapsActivity"
            android:label="@string/title_activity_location_maps" />
        <activity
            android:name=".activity.LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.ShareActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pdk4835022125880322507" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WeatherPreferenceActivity"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".activity.SettingsActivity_"
            android:theme="@style/SettingsTheme" />

        <activity
            android:name=".activity.AboutMoreActivity"
            android:label="@string/title_activity_about_more"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.AlertActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider221044514932258"
            android:exported="true" />

        <provider
            android:name=".service.ZipFileContentProvider"
            android:authorities="com.sequencing.weather.service.provider.ZipFileContentProvider">
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="pSLyoxsMsrgmsDz80STpCu7Mk" />
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        /**
        * Firebase
        */
        <service
            android:name=".service.PushGcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.RegistrationIntentService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.FireBaseInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".service.WeatherSyncReceiver_"/>
        <receiver android:name=".service.AppBroadcastNotification">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.SendLoggingReceiver_"/>
        <!--<service android:name=".service.ExtensionDownloaderService" />-->

        <!--<receiver android:name=".service.SampleAlarmReceiver" />-->
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
