@model Sequencing.WeatherApp.Models.CommonData

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>404-Page not found</title>
    </head>
    <body>
        <div id="notFound">
            <h4>You found a page that does not exist.</h4><br/>
            <p>If you like this page, you're going to love the actual app! <a href="">Click here</a> to go to the sign in page.<br/><br/> Need assistance? Please <a hhref="mailto:feedback@sequencing.rocks">contact us</a>.</p>
        </div>
    </body>
</html>