@model Sequencing.WeatherApp.Models.CommonData


    @if (Model.Context.IsAuthenticated)
    {
        <div id="userOptions">
            <div id="logout">@Model.Context.UserName</div>
            <div id="settingsButton"> <img id="hamburger" src="/assets/img/menu-icon-64px.png" /></div>
        

            <div id="settingsWindow">
                <table>
                    <tr><td id="aboutButtonTwo"><a style="font-weight:normal; text-decoration:none; color: #337ab7;" >About</a></td></tr>
                    <tr><td><a href="@Url.Action("Index", "Settings")" style="font-weight:normal; text-decoration:none;">Settings</a></td></tr>
                    <tr><td><a href="@Url.Action("Location", "Default", new{r=Request.Url.ToString()})" style="font-weight:normal; text-decoration:none;">Location</a></td></tr>
                    <tr><td><a href="mailto:feedback@weathermyway.rocks" style="font-weight:normal; text-decoration:none;">Feedback </a></td></tr>
                    <tr><td><a href="@Url.Action("Logout", "Default")" style="font-weight:normal; text-decoration:none;"> Sign out</a></td></tr>
                </table>
            </div>
        </div>
    }
        