<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
        <!-- Fonts  -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/simple-line-icons.css">
        <!-- CSS Animate -->
        <link rel="stylesheet" href="/assets/css/animate.css">
        <!-- Daterange Picker -->
        <link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker-bs3.css">
        <!-- Calendar demo -->
        <link rel="stylesheet" href="/assets/css/clndr.css">
        <!-- Switchery -->
        <link rel="stylesheet" href="/assets/plugins/switchery/switchery.min.css">
        <!-- Custom styles for this theme -->
        <link rel="stylesheet" href="/assets/css/home.css">
        <!-- Feature detection -->
        <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
        @RenderSection("AdditionalHead", false)

    
    </head>

    <div>
                        @RenderBody()
        
    </div>
</html>