@model Sequencing.WeatherApp.Models.CommonData
@{
    ViewBag.Title = "Select file";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="/Scripts/jquery-2.1.3.js"></script>
<script src="/Scripts/jquery-ui-1.11.2.min.js"></script>


<div id="titleText">
    <h3 id="titleOne">
        Weather My Way +RTP
    </h3>
    <h4 id="subTitle">Select Your File <img id="question" src="/assets/img/Info-icon-Sequencing-com-16px.png" alt="info" /></h4>
</div>
<div id="fileInstruction">
    <sub><b>RTP = Real-Time Personalization<sup>TM</sup></b></sub>
    <h4><b>RTP is as easy as 1, 2, 3...</b></h4>

    <p>1) Choose whether you want to use a sample file or your own file.</p>
    <ul>
        <li>If you want to use your own file, you will be able to select from a list of files stored in your Sequencing.com account.</li>
    </ul>
    <p>2) Wait a moment for the list of files to appear and then select a file.</p>
    <ul>
        <li>This app's Real-Time Personalization<sup>TM</sup> will then be powered by the genetic data in the file you select.</li>
    </ul>
    3) Press continue.

</div>
<div id="loginbox" class="mainbox">
    <div id="fileSelectBack">
        <div class="panel-body">
            <script type="text/javascript" src="/assets/js/sequencing-file-selector.js?4"></script>
            <script type="text/javascript">
                var Token = "@Model.Context.AuthToken";
                $(document).ready(function() {
                    $('#SelectedId').sequencingFileSelector({
                        accessToken: Token,
                        fileNameElement: $('#SelectedName')
                    });
                });
            </script>
        </div>
        @using (Html.BeginForm("SaveFile", "Default", new { r = Request.QueryString["r"] }))
        {
            <div style="margin-bottom: 5px; margin-top: 10px;" class="form-group">
                <div class="col-sm-12 controls">
                    <input type="hidden" id="SelectedId" name="selectedId" />
                    <input type="hidden" id="SelectedName" name="selectedName" />
                </div>
            </div>
            <button id="continueButton" type="submit">Continue</button>
        }
    </div>
</div>